<!-- Copyright The Linux Foundation and each contributor to LFX. -->
<!-- SPDX-License-Identifier: MIT -->

<p-inplace [active]="active()" [disabled]="disabled()" (onActivate)="handleActivate($event)" (onDeactivate)="handleDeactivate($event)" [class]="styleClass()">
  <!-- Display content (button) -->
  <ng-template #display>
    <ng-content select="[slot=display]"></ng-content>
  </ng-template>

  <!-- Content when active (form) -->
  <ng-template #content>
    <ng-content select="[slot=content]"></ng-content>
  </ng-template>
</p-inplace>
