/* Copyright The Linux Foundation and each contributor to LFX. */
/* SPDX-License-Identifier: MIT */

::ng-deep {
  .p-inplace-display {
    @apply w-full;

    &:hover {
      @apply bg-transparent;
    }
  }
}
