## Copyright The Linux Foundation and each contributor to LFX.
## SPDX-License-Identifier: MIT

# Ignore everything
*.*

# Don't ignore these file types
!*.html
!*.tsx
!*.ts
!*.js
!*.jsx
!*.json
!*.css
!*.scss
!*.md
!*.mdx
