<!-- Copyright The Linux Foundation and each contributor to LFX. -->
<!-- SPDX-License-Identifier: MIT -->

<div class="sticky top-0 z-50 bg-white border-b border-gray-100">
  <div class="mx-auto max-w-6xl">
    <lfx-menubar styleClass="border-none">
      <ng-template #start>
        <div class="flex items-center lg:gap-32">
          <!-- Mobile Menu Toggle -->
          <button
            type="button"
            class="lg:hidden hover:opacity-80 transition-opacity p-2"
            (click)="toggleMobileSidebar()"
            aria-label="Toggle menu"
            data-testid="mobile-menu-toggle">
            <i class="fa-light fa-bars text-gray-600 text-xl"></i>
          </button>

          <button type="button" class="flex items-center space-x-2 hover:opacity-80 transition-opacity p-2" routerLink="/" aria-label="Go to home page">
            <img src="/images/logo_lfx.svg" alt="LFX Logo" class="w-auto h-5" />
          </button>
        </div>
      </ng-template>

      <ng-template #end>
        <div class="flex items-center gap-4">
          <div class="flex items-center gap-6">
            <!-- Mobile Search Toggle -->
            <button
              type="button"
              class="md:hidden hover:opacity-80 transition-opacity p-2"
              (click)="toggleMobileSearch()"
              aria-label="Toggle search"
              data-testid="mobile-search-toggle">
              <i class="fa-light fa-magnifying-glass text-gray-600"></i>
            </button>

            <!-- Search Input -->
            <div>
              <div class="relative flex items-center gap-4">
                @if (userService.authenticated()) {
                  <div class="flex items-center gap-4">
                    <lfx-avatar
                      [image]="userService.user()?.picture"
                      [icon]="'fa-light fa-user'"
                      [label]="userService.user()?.name"
                      size="normal"
                      shape="circle"
                      styleClass="cursor-pointer"
                      (onClick)="userMenu.toggle($event)">
                    </lfx-avatar>
                  </div>
                  <lfx-menu #userMenu [model]="userMenuItems" styleClass="profile-menu" [popup]="true" appendTo="body"> </lfx-menu>
                }
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </lfx-menubar>
  </div>
</div>
