<!-- Copyright The Linux Foundation and each contributor to LFX. -->
<!-- SPDX-License-Identifier: MIT -->

<div class="py-6">
  <div class="grid grid-cols-1 lg:grid-cols-4 gap-6">
    <div class="lg:col-span-3">
      <lfx-user-permissions-table [users]="users()" [loading]="loading()" (refresh)="refreshUsers()"></lfx-user-permissions-table>
    </div>
    <div class="lg:col-span-1 flex flex-col gap-6">
      <lfx-card header="Quick Actions">
        <lfx-menu [model]="menuItems" styleClass="border-none"></lfx-menu>
      </lfx-card>

      <!-- Permissions Matrix -->
      <lfx-permissions-matrix></lfx-permissions-matrix>
    </div>
  </div>
</div>
