<lfx-project-layout
  projectTitle="Cloud Native Computing Foundation"
  projectDescription="The Cloud Native Computing Foundation (CNCF) hosts critical components of the global technology infrastructure. CNCF brings together the world’s top developers, end users, and vendors and runs the largest open source developer conferences.
  "
  categoryLabel="Open Source"
  projectSlug="cncf">
  <div class="container mx-auto py-6 px-8">
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-6 items-stretch">
      <div class="lg:col-span-3 items-stretch h-full">
        <lfx-card header="Committees" styleClass="h-full" class="h-full">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
        </lfx-card>
      </div>
      <div class="lg:col-span-1 items-stretch flex flex-col gap-6">
        <lfx-card header="Quick Actions" styleClass="h-full" class="h-full">
          <lfx-menu [model]="menuItems" styleClass="border-none"></lfx-menu>
        </lfx-card>
      </div>
    </div>
  </div>
</lfx-project-layout>
