/* Copyright The Linux Foundation and each contributor to LFX. */
/* SPDX-License-Identifier: MIT */

::ng-deep {
  .p-fileupload {
    .p-fileupload-header {
      @apply hidden;
    }

    .p-fileupload-content {
      .p-message-error {
        .p-message-text {
          @apply text-xs;
        }
      }
    }

    .p-fileupload-content {
      .p-fileupload-file-list {
        @apply hidden;
      }

      p-progressbar {
        @apply hidden;
      }
    }
  }
}
