<!-- Copyright The Linux Foundation and each contributor to LFX. -->
<!-- SPDX-License-Identifier: MIT -->

<p-card [header]="header()" [subheader]="subheader()" [styleClass]="styleClass()" [style]="style()">
  @if (headerTemplate) {
    <ng-template #header>
      <ng-container *ngTemplateOutlet="headerTemplate || null"></ng-container>
    </ng-template>
  }
  @if (titleTemplate) {
    <ng-template #title>
      <ng-container *ngTemplateOutlet="titleTemplate || null"></ng-container>
    </ng-template>
  }
  @if (subtitleTemplate) {
    <ng-template #subtitle>
      <ng-container *ngTemplateOutlet="subtitleTemplate || null"></ng-container>
    </ng-template>
  }
  <ng-content></ng-content>
  @if (footerTemplate) {
    <ng-template #footer>
      <ng-container *ngTemplateOutlet="footerTemplate || null"></ng-container>
    </ng-template>
  }
</p-card>
