<!-- Copyright The Linux Foundation and each contributor to LFX. -->
<!-- SPDX-License-Identifier: MIT -->

<p-menubar
  [model]="model()"
  [style]="style()"
  [class]="styleClass()"
  [breakpoint]="breakpoint()"
  [id]="id()"
  [ariaLabel]="ariaLabel()"
  [ariaLabelledBy]="ariaLabelledBy()"
  (onFocus)="handleFocus($event)"
  (onBlur)="handleBlur($event)">
  <ng-template #start>
    <ng-container *ngTemplateOutlet="startTemplate || null"></ng-container>
  </ng-template>
  <ng-template #end>
    <ng-container *ngTemplateOutlet="endTemplate || null"></ng-container>
  </ng-template>
  <ng-template #item let-item let-root="root" *ngIf="itemTemplate">
    <ng-container *ngTemplateOutlet="itemTemplate || null; context: { $implicit: item, root: root }"> </ng-container>
  </ng-template>
</p-menubar>
