/* Copyright The Linux Foundation and each contributor to LFX. */
/* SPDX-License-Identifier: MIT */

::ng-deep {
  .p-tabs {
    .p-tablist-content {
      @apply px-3;
    }
  }

  .p-tooltip {
    .p-tooltip-text {
      @apply text-sm;
    }
  }

  .p-confirmdialog-message {
    @apply text-sm max-w-lg;
  }
}
