<!-- Copyright The Linux Foundation and each contributor to LFX. -->
<!-- SPDX-License-Identifier: MIT -->

<ng-container [formGroup]="form()">
  <p-autocomplete
    [formControlName]="control()"
    [suggestions]="suggestions()"
    [placeholder]="placeholder()"
    [styleClass]="styleClass()"
    [optionLabel]="optionLabel()"
    [optionValue]="optionValue()"
    [inputStyleClass]="inputStyleClass()"
    [delay]="delay()"
    [minLength]="minLength()"
    (completeMethod)="searchCompleted($event)"
    (onSelect)="optionSelected($event)"
    (onClear)="onClear.emit()"
    [attr.data-testid]="dataTestId()"
    [autoOptionFocus]="autoOptionFocus()"
    [completeOnFocus]="completeOnFocus()"
    [panelStyleClass]="panelStyleClass()"
    [autoHighlight]="autoHighlight()"
    [dropdown]="dropdown()"
    [dropdownMode]="dropdownMode()"
    [dataKey]="dataKey()"
    [appendTo]="appendTo()">
    <!-- Empty message template -->
    @if (emptyTemplate) {
      <ng-template #empty>
        <ng-container *ngTemplateOutlet="emptyTemplate"></ng-container>
      </ng-template>
    }

    <!-- Item template -->
    @if (itemTemplate; as item) {
      <ng-template #item let-item>
        <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: item }"></ng-container>
      </ng-template>
    }

    <!-- Footer template -->
    @if (footerTemplate) {
      <ng-template #footer>
        <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
      </ng-template>
    }
  </p-autocomplete>
</ng-container>
