<!-- Copyright The Linux Foundation and each contributor to LFX. -->
<!-- SPDX-License-Identifier: MIT -->

<ng-container [formGroup]="form()">
  <p-autocomplete
    [formControlName]="control()"
    [suggestions]="suggestions()"
    [placeholder]="placeholder()"
    [styleClass]="styleClass()"
    [optionLabel]="optionLabel()"
    [optionValue]="optionValue()"
    [inputStyleClass]="inputStyleClass()"
    [delay]="delay()"
    [minLength]="minLength()"
    (completeMethod)="searchCompleted($event)"
    (onSelect)="optionSelected($event)"
    (onClear)="onClear.emit()"
    [attr.data-testid]="dataTestId()"
    [autoOptionFocus]="autoOptionFocus()"
    [completeOnFocus]="completeOnFocus()"
    [panelStyleClass]="panelStyleClass()"
    [autoHighlight]="autoHighlight()"
    [appendTo]="appendTo()">
    <!-- Empty message template -->
    <ng-template pTemplate="empty" *ngIf="emptyTemplate">
      <ng-container *ngTemplateOutlet="emptyTemplate"></ng-container>
    </ng-template>

    <!-- Item template -->
    <ng-template pTemplate="item" let-item *ngIf="itemTemplate">
      <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: item }"></ng-container>
    </ng-template>

    <!-- Footer template -->
    <ng-template pTemplate="footer" *ngIf="footerTemplate">
      <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
    </ng-template>
  </p-autocomplete>
</ng-container>
