<!-- Copyright The Linux Foundation and each contributor to LFX. -->
<!-- SPDX-License-Identifier: MIT -->

<p-button
  [label]="label()"
  [icon]="icon()"
  [iconPos]="iconPos()"
  [severity]="severity()"
  [raised]="raised()"
  [rounded]="rounded()"
  [text]="text()"
  [plain]="plain()"
  [outlined]="outlined()"
  [size]="size()"
  [disabled]="disabled()"
  [loading]="loading()"
  [loadingIcon]="loadingIcon()"
  [styleClass]="styleClass()"
  [badge]="badge()"
  [badgeClass]="badgeClass()"
  [badgeSeverity]="badgeSeverity()"
  [ariaLabel]="ariaLabel()"
  [tabindex]="tabindex()"
  [autofocus]="autofocus()"
  [type]="type()"
  [variant]="variant()"
  [fluid]="fluid()"
  [style]="style()"
  (onClick)="handleClick($event)">
  <ng-content></ng-content>
</p-button>
