// Copyright The Linux Foundation and each contributor to LFX.
// SPDX-License-Identifier: MIT

:host {
  display: block;
  width: 100%;
}

.sidebar-project-name {
  @apply font-medium grow leading-5 text-wrap whitespace-pre-wrap w-28 relative shrink-0 text-base text-gray-900 tracking-tight line-clamp-2;
}

::ng-deep {
  .project-selector-panel {
    @apply shadow-lg;

    &::before {
      @apply hidden;
    }

    &::after {
      @apply hidden;
    }

    .p-popover-content {
      @apply rounded-none;
    }
  }
}
