// Copyright The Linux Foundation and each contributor to LFX.
// SPDX-License-Identifier: MIT

:host {
  display: block;
  width: 100%;
}

::ng-deep {
  .project-selector-panel {
    @apply mt-2 rounded-none border-l-0 border-r-0 border-t;

    &::before {
      @apply hidden;
    }

    &::after {
      @apply hidden;
    }

    .p-popover-content {
      @apply rounded-none;
    }
  }
}
