<p-breadcrumb 
  [model]="model()" 
  [home]="home()"
  [style]="style()"
  [styleClass]="styleClass()"
  [homeAriaLabel]="homeAriaLabel()"
  (onItemClick)="handleItemClick($event)">
  <ng-template #item let-item>
    <ng-container *ngTemplateOutlet="itemTemplate || null; context: { $implicit: item }">
    </ng-container>
  </ng-template>
  <ng-template #separator *ngIf="separatorTemplate">
    <ng-container *ngTemplateOutlet="separatorTemplate || null"></ng-container>
  </ng-template>
</p-breadcrumb>