<!-- Copyright The Linux Foundation and each contributor to LFX. -->
<!-- SPDX-License-Identifier: MIT -->

<ng-container [formGroup]="form()">
  <p-select
    [formControlName]="control()"
    [options]="options()"
    [optionLabel]="optionLabel()"
    [optionValue]="optionValue()"
    [optionDisabled]="optionDisabled()"
    [optionGroupLabel]="optionGroupLabel()"
    [optionGroupChildren]="optionGroupChildren()"
    [placeholder]="placeholder()"
    [readonly]="readonly()"
    [showClear]="showClear()"
    [filter]="filter()"
    [filterBy]="filterBy()"
    [filterMatchMode]="filterMatchMode()"
    [filterPlaceholder]="filterPlaceholder()"
    [filterLocale]="filterLocale()"
    [emptyFilterMessage]="emptyFilterMessage()"
    [emptyMessage]="emptyMessage()"
    [styleClass]="styleClass()"
    [style]="style()"
    [panelStyleClass]="panelStyleClass()"
    [panelStyle]="panelStyle()"
    [appendTo]="appendTo()"
    [scrollHeight]="scrollHeight()"
    [lazy]="lazy()"
    [virtualScroll]="virtualScroll()"
    [virtualScrollItemSize]="virtualScrollItemSize()"
    [virtualScrollOptions]="virtualScrollOptions()"
    [overlayOptions]="overlayOptions()"
    [ariaFilterLabel]="ariaFilterLabel()"
    [ariaLabel]="ariaLabel()"
    [ariaLabelledBy]="ariaLabelledBy()"
    [editable]="editable()"
    [group]="group()"
    [autofocus]="autofocus()"
    [resetFilterOnHide]="resetFilterOnHide()"
    [dropdownIcon]="dropdownIcon()"
    [autoDisplayFirst]="autoDisplayFirst()"
    [focusOnHover]="focusOnHover()"
    [filterFields]="filterFields()"
    [id]="id()"
    [inputId]="inputId()"
    [dataKey]="dataKey()"
    [required]="required()"
    [tabindex]="tabindex()"
    [tooltip]="tooltip()"
    [tooltipPosition]="tooltipPosition()"
    [tooltipPositionStyle]="tooltipPositionStyle()"
    [tooltipStyleClass]="tooltipStyleClass()"
    [autofocusFilter]="autofocusFilter()"
    (onChange)="handleChange($event)"
    [size]="size()"></p-select>
</ng-container>
