<p-card [header]="header()" [subheader]="subheader()" [styleClass]="styleClass()" [style]="style()">
  <ng-template #header *ngIf="headerTemplate">
    <ng-container *ngTemplateOutlet="headerTemplate || null"></ng-container>
  </ng-template>
  <ng-template #title *ngIf="titleTemplate">
    <ng-container *ngTemplateOutlet="titleTemplate || null"></ng-container>
  </ng-template>
  <ng-template #subtitle *ngIf="subtitleTemplate">
    <ng-container *ngTemplateOutlet="subtitleTemplate || null"></ng-container>
  </ng-template>
  <ng-content></ng-content>
  <ng-template #footer *ngIf="footerTemplate">
    <ng-container *ngTemplateOutlet="footerTemplate || null"></ng-container>
  </ng-template>
</p-card>
