// Copyright The Linux Foundation and each contributor to LFX.
// SPDX-License-Identifier: MIT

:host ::ng-deep .p-inputotp .p-inputtext {
  height: 4rem;
  font-size: 1.25rem;
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  text-align: center;
}
