<!-- Copyright The Linux Foundation and each contributor to LFX. -->
<!-- SPDX-License-Identifier: MIT -->
<ng-container [formGroup]="form()">
  <textarea
    pTextarea
    [formControlName]="control()"
    [pSize]="size()"
    [rows]="rows()"
    [cols]="cols()"
    [placeholder]="placeholder()"
    [id]="id()"
    [readonly]="readonly()"
    [class]="styleClass()"
    [autoResize]="autoResize()"
    [maxlength]="maxlength() || null"
    [attr.data-test]="dataTest()"></textarea>
</ng-container>
