<!-- Copyright The Linux Foundation and each contributor to LFX. -->
<!-- SPDX-License-Identifier: MIT -->

<p-breadcrumb
  [model]="model()"
  [home]="home()"
  [style]="style()"
  [styleClass]="styleClass()"
  [homeAriaLabel]="homeAriaLabel()"
  (onItemClick)="handleItemClick($event)">
  <ng-template #item let-item>
    <ng-container *ngTemplateOutlet="itemTemplate || null; context: { $implicit: item }"> </ng-container>
  </ng-template>
  @if (separatorTemplate) {
    <ng-template #separator>
      <ng-container *ngTemplateOutlet="separatorTemplate || null"></ng-container>
    </ng-template>
  }
</p-breadcrumb>
