// Copyright The Linux Foundation and each contributor to LFX.
// SPDX-License-Identifier: MIT

.scroll-area {
  max-height: 440px;
  scrollbar-width: thin;
  scrollbar-color: theme('colors.slate.200') transparent;

  &::-webkit-scrollbar {
    @apply w-1.5;
  }

  &::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-sm bg-slate-200;
  }
}
