// Copyright The Linux Foundation and each contributor to LFX.
// SPDX-License-Identifier: MIT

.code-contribution-bar-committers {
  background-color: #0094ff;
}

.code-contribution-bar-maintainers {
  background-color: rgba(0, 148, 255, 0.65);
}

.code-contribution-bar-reviewers {
  background-color: rgba(0, 148, 255, 0.4);
}
