// Copyright The Linux Foundation and each contributor to LFX.
// SPDX-License-Identifier: MIT

:host {
  display: block;
}

::ng-deep {
  .mobile-sidebar-drawer {
    .p-drawer-content {
      @apply px-2;
    }
  }
}
