<!-- Copyright The Linux Foundation and each contributor to LFX. -->
<!-- SPDX-License-Identifier: MIT -->

<div class="container mx-auto py-6 px-8">
  <div class="grid grid-cols-1 lg:grid-cols-4 gap-6 items-stretch">
    <div class="lg:col-span-3 items-stretch h-full">
      <lfx-card header="Meetings" styleClass="h-full" class="h-full">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
      </lfx-card>
    </div>
    <div class="lg:col-span-1 items-stretch">
      <lfx-card header="Quick Actions" styleClass="h-full" class="h-full">
        <lfx-menu [model]="menuItems" styleClass="border-none"></lfx-menu>
      </lfx-card>
    </div>
  </div>
</div>
